
.pl-btn {
  margin-top: 5px;
  cursor: hand;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
}

.save-it {
  background: blueviolet;
  color: white;
}

.saved {
  background: darkorange;
  color: darkgray;
}

